.button {
    border-radius: 2px;
    padding: 5px 25px;
    border-width: 2px;
    border-style: solid;
    color: white;
    font-size: 11px;
    font-weight: 300;
}

.button:hover {
    filter: brightness(90%);
}
.button-default {
    --base-color: #000000;
    --flat-color: #F6F7F8;
    background-color: var(--base-color);
    border-color: var(--base-color);

}

.button-primary {
    background-color: #0069D9;
    color: white;
    border: #0069D9;
    font-weight: 900;
}

.button-danger {
    background-color: #FF4933;
    color: white;
    border: #FF4933;
    font-weight: 900; 
}

.button-success {
    background-color: #1DB036;
    color: white;
    border: #1DB036;
    font-weight: 900;
}


.button-warning {
    background-color:#fbff09;
    color: red;
    border: #fbff09;
    font-weight: 900;
}

.clean {
    background-color: #ffffff;
    color: var(--base-color)
}

.flat {
    background-color: var(--flat-color);
    color: var(--base-color);
    border: none;
}

.large {
    padding: 15px 25px;
    font-size: 12px;
}

.icon {
    padding: 10px 10px;
}

.icon-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    font-size: 12px;

}
.icon-text img{
    padding-right: 10px;
}
